@font-face {
        font-family: 'red-wing';
        src: url(Fontes/Redwing-Medium.otf);
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-navbar {
    background-color: #0F0F0F; 
}
  
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #ffffff !important;
}
  
.custom-navbar .nav-link:hover {
    color: gray !important; 
}
#items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #2D2E2E;
}