@font-face {
        font-family: 'red-wing';
        src: url(Fontes/Redwing-Medium.otf);
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-navbar {
    background-color: #0F0F0F; 
}
  
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #ffffff !important;
}
  
.custom-navbar .nav-link:hover {
    color: gray !important; 
}
body {
    background-color: #2D2E2E;
}
.navbar-toggler-icon {
    color: white;
}
.bloco-home {
    justify-self: center;
    width: 80%;
    background-color: #FBFBFB;
    border-radius: 5px;
    height: 800px;
    margin-top: 100px;
}
.home-items {
    display: flex;
    align-items: flex-start;
    height: 755px;
    padding: 30px;
}
.home-items .home-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px; 

}
.home-items .home-image img {
    border-radius: 10px;
    width: 650px;
    margin-right: 100px;
}
.home-items .home-text span {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 25px;
}
.home-items .home-text h1 {
    font-size: 50px;
    letter-spacing: 2px; 
    text-transform: uppercase;
    max-width: 100%;
}
.home-items .home-text p {
    font-size: 16px;
    margin-top: 60px;
}
@media (max-width: 768px) {
    .bloco-home {
        width: 90%;
        height: auto;
        margin-top: 50px;
    }
    .home-items {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }
    .home-items .home-text {
        padding-top: 20px;
        align-items: center;
        text-align: center;
    }
    .home-items .home-image img {
        width: 100%;
        max-width: 400px;
        margin: 0;
        margin-bottom: 20px;
    }
    .home-items .home-text span {
        font-size: 20px;
    }
    .home-items .home-text h1 {
        font-size: 35px;
    }
    .home-items .home-text p {
        font-size: 14px;
        margin-top: 20px;
    }
}
.grid-projetos {
    display: flex;
    justify-self: center;
    width: 80%;
    background-color: #FBFBFB;
    border-radius: 5px;
    height: 600px;
    margin-top: -8px;
}

.sobre-projetos {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 20px;
    gap: 60px;
}

.sidebar-projetos {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.sidebar-projetos img {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
.sobre-projetos h1 {
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: -100px;
}
@media (max-width: 768px) {
    .grid-projetos {
        width: 90%;
        height: auto;
        margin-top: 40px;
    }
}